.Meaning .partOfSpeech {
  font-size: 23px;
  font-weight: bold;
  color: #7c73e6;
}

.Meaning .definition {
  font-size: 16px;
  font-weight: bold;
  color: #c4c1e0;
}

.Example {
  opacity: 0.5;
  font-style: italic;
  margin-bottom: 15px;
}
